{% extends 'todo/base.html' %}
{% block content %}
    <div class="container mt-4">
    <h1 class="mb-4">Todo List</h1>

    <div class="text-end mb-3">
        <a href="{% url 'cbv_todo_create' %}" class="btn btn-primary">생성</a>
    </div>

    <hr>
    {% for todo in page_obj %}
        <p>
            <a href="{% url 'cbv_todo_info' todo.id %}">{{ todo.title }}</a>
        </p>
    {% endfor %}

    <form method="get" class="mb-3">
        <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
            <button class="btn btn-primary">검색</button>
        </div>
    </form>

    <nav>
        <ul class="pagination">
            {% include 'todo/pagination.html' %}
        </ul>
    </nav>
    </div>
{% endblock %}