{% extends 'todo/base.html' %}
{% block content %}
    <h1>Todo List</h1>

    <form method="get">
        <input type="text" name="q" value="{{ q }}" placeholder="검색어 입력">
        <button type="submit">검색</button>
    </form>

    <a href="{% url 'todo_create' %}"><button>생성하기</button></a>

    <ul>
        {% for todo in page_obj %}
            <li>
                <a href="{% url 'todo_info' todo.id %}">{{ todo.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&q={{ q }}">이전</a>
        {% endif %}
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ q }}">다음</a>
        {% endif %}
    </div>
{% endblock %}