{% extends 'registration/base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">로그인</h1>
    <nav class="d-flex justify-content-end mb-3">
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm">로그아웃</button>
            </form>
        {% else %}
            <a href="{% url 'signup' %}" class="btn btn-secondary btn-sm">회원가입</a>
        {% endif %}
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endblock %}